<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="card">
          <h2 >todo login</h2>
          <h2></h2>
          <form
            class="form-inline"
            [formGroup]="checkoutForm"
            (ngSubmit)="onSubmit()"
          >
            <input id="username" type="text" formControlName="username"  placeholder="Username" class="form-control" required/>
            <input id="password" type="password" formControlName="password"  placeholder="Password"/>
            <button class="button" type="submit">Login</button>
          </form>
          
        </div>
      </div>
</body>
</html>